*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
}

header{
  height: 90px;
  background: #2f3640;
}

.inner-width{
  max-width: 1750px;
  padding: 0 10px;
  margin: auto;
}

.logo{
  float: left;
  padding: 20px 0;
}

.logo img{
  height: 50px;
}

.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.download{
  color: #FF68C5;
}

.about{
  color: #70B0FF;
}

.work{
  color: #78FF3A;
}

.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}
.table a{

  text-decoration: none;
  color: #660044;
  border: 2px solid #660044;
  display: block;
  padding: 10px 0;
  margin: 10px 0;
  max-width: 320px;
  border-radius: 40px;
  transition: 0.5s linear;

}

.table a:hover{

  background: #b95fa3;
  color: #660044;

}

.tablei a{

  text-decoration: none;
  color: #1a8cff;
  border: 2px solid #1a8cff;
  display: block;
  padding: 10px 0;
  margin: 10px 0;
  max-width: 190px;
  border-radius: 40px;
  transition: 0.25s linear;

}

.tablei a:hover{

  background: #5594d3;
  color: #25598e;

}

.gs-right a{
  position: absolute;
  right: 25px;
  text-decoration-line: none;
  color: #1a8cff;
  border: 2px solid #FCF9FF;
  background: #FCF9FF;
  display: block;
  padding: 10px 0;
  margin: 10px 0;
  max-width: 180px;
  border-radius: 30px;
  transition: 0.25s linear;
}

.gs-right a:hover{

  background: #5594d3;
  color: #25598e;

}

.gs-left a{
  position: absolute;
  left: 25px;
  text-decoration-line: none;
  color: #1a8cff;
  border: 2px solid #FCF9FF;
  background: #FCF9FF;
  display: block;
  padding: 10px 0;
  margin: 10px 0;
  max-width: 180px;
  border-radius: 30px;
  transition: 0.25s linear;
}

.gs-left a:hover{

  background: #5594d3;
  color: #25598e;

}

}
